*.pem
*.pub
*.p12
*rsa*
_vagrantfile
inventory
.vagrant
ssl
build_scripts/www.mickjohn.com/*.zip
build_scripts/www.mickjohn.com/motorsport_*

build_scripts/games.mickjohn.com/*.zip
build_scripts/games.mickjohn.com/red_or_black*
build_scripts/games.mickjohn.com/build
build_scripts/games.mickjohn.com/websocket_games
