  # games.mickjohn.com websocket game server
  upstream websocket_server {
    server 127.0.0.1:9000;
  }

  # games.mickjohn.com static file webserver
  upstream webserver {
    server 127.0.0.1:9080;
  }
  # Red or black
  server {
    server_name games.mickjohn.com;
    {% if enable_ssl %}
      listen 8010 ssl;
      ssl_certificate	{{ files.ssl_cert.dest }};
      ssl_certificate_key {{ files.ssl_key.dest }};
    {% elif lets_encrypt %}
      listen 8010 ssl;
      ssl_certificate	/etc/letsencrypt/live/{{ domain }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    {% else %}
      listen 8010;
    {% endif %}
    location / {
      proxy_read_timeout 3m;
      proxy_pass http://websocket_server;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection Upgrade;
    }
  }

  server {
    listen	80;
    server_name games.mickjohn.com;
    {% if enable_ssl or lets_encrypt %}
    return 301 https://$host$request_uri;
    {% else %}
    location / {
      proxy_pass http://backends;
    }
    {% endif %}

    add_header X-Frame-Options "DENY";
  }

  {% if enable_ssl or lets_encrypt %}
  server {
    listen 443 ssl;
    server_name games.mickjohn.com;
    {% if enable_ssl %}
      ssl_certificate	{{ files.ssl_cert.dest }};
      ssl_certificate_key {{ files.ssl_key.dest }};
    {% elif lets_encrypt %}
      ssl_certificate	/etc/letsencrypt/live/{{ domain }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    {% endif %}
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    add_header Referrer-Policy "strict-origin";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options "DENY";
    add_header X-Content-Type-Options "nosniff";
    # add_header Content-Security-Policy "default-src 'self' wss://games.mickjohn.com:8010; font-src https://fonts.googleapis.com;img-src 'self'; object-src 'none'; script-src 'self'; style-src 'self';base-uri 'none'; form-action 'none'; frame-ancestors 'none';";
    location / {
      proxy_pass http://webserver;
    }
  }
  {% endif %}

