[Unit]
Description=motorsport_calendar_api

[Service]
{% for key,value in extra_vars.iteritems() %}
Environment={{key}}={{value}}
{% endfor %}
Type=simple
ExecStart=/usr/local/bin/motorsport_calendar_api -c /etc/motorsport_calendar_api/conf.yml -l /etc/motorsport_calendar_api/log4rs.yml

[Install]
WantedBy=multi-user.target
