[Unit]
Description=motorsport_calendar_webserver

[Service]
{% for key,value in extra_vars.iteritems() %}
Environment={{key}}={{value}}
{% endfor %}
Type=simple
ExecStart=/usr/local/bin/motorsport_calendar_webserver -c /etc/motorsport_calendar_webserver/config.yml

[Install]
WantedBy=multi-user.target
